body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#display{
    border: 1px solid black;
    height: 50px;
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
    background-color: lightslategray;
}
#note-display{
    text-align: center;
    font-size: 2em;
    height: 50px;
    margin: 0;
    color: white;
}

#buttons{
    width: 324px;
    display: flex;
    flex-wrap: wrap;
}

.drum-pad{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    transition: all .07s ease;
    box-shadow: 5px 5px 5px 0px rgba(163,163,163,1);
}

.playing{
    transform: scale(0.9); 
}